@media (max-width: 550px) {
    html {
        font-size: 45%;
    }
  .features {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
